<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the home page</h1>
    <!-- this is used to dynamically output JS -->
    <h3><%= 1 + 2 %></h3>
    <h3><%= 1 ** 2 %></h3>
    <h3><%= ["hello" , "namaste"][0] %></h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores sed hic
      sapiente impedit accusantium, excepturi consectetur nemo qui inventore,
      animi laudantium modi temporibus iusto quisquam libero pariatur repellat.
      Quasi, consectetur. Culpa tempora tempore dignissimos. Quos fuga,
      voluptates sapiente officia repellat, pariatur porro exercitationem
      dolores vitae facilis dolorum assumenda aliquid. Architecto incidunt
      soluta maxime corporis quo mollitia consequuntur quasi praesentium
      impedit. Commodi nulla aspernatur, assumenda at temporibus voluptates
      itaque earum laborum tempore nemo praesentium dolore veniam repellendus
      fugit necessitatibus ut! Molestias tempora incidunt iure ipsum iusto a
      mollitia eveniet quaerat similique! Cupiditate accusantium exercitationem
      esse facilis voluptate veritatis dicta error. Quo voluptates, sit odio
      perspiciatis, accusamus fugiat, officia nemo doloribus voluptatibus
      voluptate fuga? Non iste veritatis autem. Accusantium consectetur nobis
      aut. Amet voluptate, ex qui suscipit molestiae minus itaque,
      exercitationem saepe fugiat commodi similique. Iste optio esse eum
      nesciunt minus ut commodi rerum quod ipsum, illo ipsam atque officia aut
      cum. Fugit architecto inventore quod, consequuntur quaerat neque odio
      nostrum fuga reiciendis totam officiis, eum odit eligendi eius hic!
      Numquam exercitationem consequuntur amet commodi provident minima harum
      sit magnam natus voluptatem? Optio quisquam provident, nisi ad minima,
      saepe enim aliquid repellendus neque ipsam quibusdam aliquam eligendi
      voluptatibus rerum consequatur molestiae! Rerum a voluptates iusto error
      tempora alias laudantium quibusdam suscipit quidem? Mollitia sit hic
      possimus. Ex ipsum reprehenderit aut eveniet sequi tempora libero aperiam
      sunt dignissimos corporis inventore voluptatum illum fugiat autem
      praesentium dicta corrupti excepturi, veritatis amet quaerat voluptatibus
      voluptate. Quasi, totam! Similique fugiat reprehenderit tempore ad,
      doloribus deleniti nesciunt nihil cupiditate doloremque neque sunt
      voluptate facere blanditiis modi. Natus optio fuga eos dolore blanditiis
      cumque rem soluta aliquid quasi.
    </p>
    <button>Click me</button>
  </body>
</html>
